{% extends 'pt/padrao.html' %}

{% block title %}{{ super() }} - Erro {% endblock %}


{% block content %}
  <div class="jumbotron text-center">
    <div class="row justify-content-center">
      <h1 class="cover-heading">Algo de Errado não está Certo!</h1>
      <div class="col-6 ">
        <p></p>
        <p class="lead">A resistência caractéristica do concreto deve estar
          dentro dos limites determinados por norma (20 MPa &#8924; &#402<sub>ck</sub> &#8924; 90 MPa)
        <p class="lead">
          <a name="tentar" href="novoprojeto" class="btn btn-lg btn-template"><i class="fas fa-sync-alt"></i>  Tente novamente</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
