{% extends 'pt/padrao.html' %}

{% block title %}{{ super() }} - Exemplo 2 {% endblock %}

{%block content%}
<script type="text/javascript">
  function habilitar() {
    var x1 = document.getElementById("modelo").value;
      if (x1 == 2){
        document.getElementById("diagonal").disabled=false;
      } if (x1 == 1) {
     document.getElementById("diagonal").disabled=true;
  }}

  function habilitar2() {
    var x2 = document.getElementById("parametrod_").value;
      if (x2 == 'on'){
        document.getElementById("d_").disabled=false;
      } if (x2 == 'off') {
        document.getElementById("d_").disabled=true;
  }}

</script>

  <div class="container flex-auto">
    <div class="p-3 mb-5 bg-grey rounded row">
      <div class="col text-center">

        <h2 class="text-muted">Exemplo 2 </h2>

      </div>
    </div>
  </div>

  <div class="progress" style="height: 9px;">
    <div class="progress-bar bg-grey" role="progressbar" style="width: 0%;"
      aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" id = progress >
    </div>
  </div>
  <p></p>

  <form method="post" class="needs-validation" novalidate>

    <div class="container">
      <div class="row">

        <div class="col-lg-6"> <!-- COLUMN 1 - INICIO -->
            <div class="container">
          <h5 class="text-center">Dados dos Materiais</h5>
          <div class="row marketing">


            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">&#402<sub>ck</sub></span>
              </div>

              <input type="number" class="form-control"aria-label="Dollar amount
                (with dot and two decimal places)" data-toggle="tooltip"
                data-placement="top" title="Resistência Característica do Concreto"
                placeholder="Resistência Característica do Concreto" name="fck" min="20" max="90" value="20">

              <div class="input-group-append">
                <select class="custom-select" id="inputGroupSelect01" name="unitfck">
                  <option value="1">MPa</option>
                  <option value="2">kN/cm²</option>
                  <option value="3">kPa</option>
                </select>
              </div>
            </div>
          </div><p></p>


          <div class="row marketing">

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">&#402<sub>yk</sub></span>
              </div>

                <input type="number" class="form-control"aria-label="Dollar amount
                  (with dot and two decimal places)" data-toggle="tooltip"
                  data-placement="top" title="Resistência Característica do Aço"
                  placeholder="Resistência Característica do Aço" name="fyk" value="500">

              <div class="input-group-append">
                <select class="custom-select" id="inputGroupSelect01" name="unitfyk">
                  <option value="1">MPa</option>
                  <option value="2">kN/cm²</option>
                  <option value="3">kPa</option>
                </select>
              </div>
            </div>
          </div><p></p>


          <div class="row marketing">

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">&#402<sub>ywk</sub></span>
              </div>

                <input type="number" class="form-control"aria-label="Dollar amount
                (with dot and two decimal places)" data-toggle="tooltip"
                data-placement="top" title="Resistência Característica do Estribo"
                placeholder="Resistência Característica do Estribo" name="fywk" value="500">

              <div class="input-group-append">
                <select class="custom-select" id="inputGroupSelect01" name="unitfywk">
                  <option value="1">MPa</option>
                  <option value="2">kN/cm²</option>
                  <option value="3">kPa</option>
                </select>
              </div>
            </div>
          </div><p></p>


          <div class="row marketing">

            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">E<sub>s</sub></span></div>

                <input type="number" class="form-control"aria-label="Dollar amount
                  (with dot and two decimal places)" data-toggle="tooltip"
                  data-placement="top" title="Módulo de Elasticidade do Aço"
                  placeholder="Módulo de Elasticidade do Aço" name="Es" value="210">

              <div class="input-group-append">
                <select class="custom-select" id="inputGroupSelect01" name="unitEs">
                  <option value="1">GPa</option>
                  <option value="2">MPa</option>
                  <option value="3">kPa</option>
                  <option value="4">kN/cm²</option>
                </select>
              </div>
            </div>
          </div><p></p>

          <div class="row marketing">

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">&#593</span>
              </div>

              <input type="number" class="form-control"aria-label="Dollar amount
                (with dot and two decimal places)" data-toggle="tooltip"
                data-placement="top" title="Ângulo do Estriboo"
                placeholder="Ângulo do Estribo " name="a" value="90">

              <div class="input-group-append">
                <span class="input-group-text">&#9900</span>
              </div>
            </div>
          </div><p></p>


          <div class="row marketing">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Agregado Graudo</span></div>

              <div class="input-group-append">
                  <select class="custom-select" id="inputGroupSelect01" name="Brita">
                      <option value="0">Brita 0</option>
                      <option value="1">Brita 1</option>
                      <option value="2">Brita 2</option>
                      <option value="3">Brita 3</option>
                  </select>
              </div>
            </div>
          </div><p></p>

          <h5 class="text-center">Esforços Solicitantes</h5>

          <div class="row marketing">

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">M<sub>k</sub></span>
              </div>

                <input type="number" class="form-control"aria-label="Dollar amount
                (with dot and two decimal places)" data-toggle="tooltip"
                data-placement="top" title="Momento Fletor Característico"
                placeholder="Momento fletor " name="Mk" value="70" min="-1000000">

              <div class="input-group-append">
                <select class="custom-select" id="inputGroupSelect01" name="unitMk">
                  <option value="1">kN&#x22C5;m</option>
                  <option value="2">kN&#x22C5;cm</option>
                  <option value="3">tf&#x22C5;m</option>
                  <option value="4">tf&#x22C5;cm</option>
                  <option value="5">kgf&#x22C5;m</option>
                  <option value="6">kgf&#x22C5;cm</option>

                </select>
              </div>
            </div>
          </div><p></p>


          <div class="row marketing">

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">V<sub>k</sub></span>
              </div>

                <input type="number" class="form-control"aria-label="Dollar amount
                (with dot and two decimal places)" data-toggle="tooltip"
                data-placement="top" title="Cortante Característico"
                placeholder="Cortante" name="Vk" value="70">

              <div class="input-group-append">
                <select class="custom-select" id="inputGroupSelect01" name="unitVk">
                  <option value="1">kN</option>
                  <option value="2">N</option>
                  <option value="3">kgf</option>
                </select>
              </div>
            </div>
          </div><p></p>


          <h5 class="text-center">Coeficientes</h5>
          <div class="row marketing">
            <table class="table table-hover">
              <thead>
                <tr class="table-secondary">
                  <th></th>
                  <th scope="col">Carregamento</th>
                  <th scope="col">Concreto (&#611<sub>c</sub>)</th>
                  <th scope="col">Aço (&#611<sub>s</sub>)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="carregamento" value="1" checked>
                  </div></td>
                  <th scope="row" >Normais</th>
                  <td>1.40</td>
                  <td>1.15</td>
                </tr>
                <tr>
                  <td>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="carregamento" value="2">
                  </div></td>
                  <th scope="row">Especiais</th>
                  <td>1.20</td>
                  <td>1.15</td>
                </tr>
                <tr>
                  <td>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="carregamento" value="3">
                  </div></td>
                  <th scope="row">Excepcionais</th>
                  <td>1.20</td>
                  <td>1.00</td>
                </tr>
              </tbody>
            </table>

          </div>
          </div>
        </div> <!-- COLUMN 1 - FIM -->


        <div class="col-lg-6"> <!-- COLUMN 2 - INICIO -->
            <div class="container">
          <h5 class="text-center">Seção Transversal</h5>

          <div class="row marketing">

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">b<sub>w</sub></span>
              </div>

                <input type="number" class="form-control"aria-label="Dollar amount
                (with dot and two decimal places)" data-toggle="tooltip"
                data-placement="top" title="Base da Seção Transversal"
                placeholder="Base" name="bw" value='15'>

              <div class="input-group-append">
                <select class="custom-select" name="unitbw">
                  <option value="1">cm</option>
                  <option value="2">m</option>
                </select>
              </div>
            </div>
          </div><p></p>


          <div class="row marketing">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">h</span>
              </div>

                <input type="number" class="form-control"aria-label="Dollar amount
                (with dot and two decimal places)" data-toggle="tooltip"
                data-placement="top" title="Altura da Seção Transversal"
                placeholder="Altura" name="h" value="40">

              <div class="input-group-append">
                <select class="custom-select" id="inputGroupSelect01" name="unith">
                  <option value="1">cm</option>
                  <option value="2">m</option>
                </select>
              </div>
            </div>
          </div><p></p>


          <div class="row marketing">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">l<sub>0</sub></span>
              </div>

              <input type="number" class="form-control" aria-label="Dollar amount
              (with dot and two decimal places)" min='0' data-toggle="tooltip"
              data-placement="top" title="Vão Livre"
              placeholder= "Vão Livre" name="l0" value="4">

              <div class="input-group-append">
                <select class="custom-select" name="unitl0">
                  <option value="1">m</option>
                  <option value="2">cm</option>
                </select>
              </div>
            </div>
          </div><p></p>


          <div class="row marketing">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">t<sub>1</sub></span>
              </div>

                <input type="number" class="form-control"aria-label="Dollar amount
                (with dot and two decimal places)" data-toggle="tooltip"
                data-placement="top" title="Apoio da Direita"
                placeholder="Apoio da Direita" name="t1" value="30">

              <div class="input-group-append">
                <select class="custom-select" id="inputGroupSelect01" name="unitt1">
                    <option value="1">cm</option>
                    <option value="2">m</option>
                </select>
              </div>
            </div>
          </div><p></p>

          <div class="row marketing">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">t<sub>2</sub></span>
              </div>

                <input type="number" class="form-control"aria-label="Dollar amount
                (with dot and two decimal places)" data-toggle="tooltip"
                data-placement="top" title="Apoio da Esquerda"
                placeholder="Apoio da Esquerda" name="t2" value="30">

              <div class="input-group-append">
                <select class="custom-select" id="inputGroupSelect01" name="unitt2">
                    <option value="1">cm</option>
                    <option value="2">m</option>
                </select>
              </div>
            </div>
          </div><p></p>

          <h5 class="text-center">Dados de Projeto</h5>


          <div class="row marketing">
            <label for="basic-url">Cálculo do Cisalhamento</label>
            <div class="input-group">
              <div class="input-group-append"><p></p>
                <select class="custom-select" id="modelo" name="Modelo" onclick="habilitar()">
                    <option value="1">Modelo de cálculo &#8544</option>
                    <option value="2">Modelo de cálculo &#8545</option>
                </select>
              </div>
            </div>
          </div><p></p>

          <div class="row marketing">
            <label for="diagonal">Ângulo da diagonal comprimida</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">&#415;</span>
              </div>

              <input type="number" id="diagonal" class="form-control"aria-label="Dollar amount
                (with dot and two decimal places)"name="t" min="30" max="45" value="30"
               disabled>

              <div class="input-group-append">
                <span class="input-group-text">&#9900</span>
              </div>
            </div>
          </div><p></p>

          <h5 class="text-center">Classes de Agressividade Ambiental</h5>
          <div class="row marketing"">
            <table class="table table-borderless">
              <thead>
                <tr class="table-secondary">
                  <th></th>
                  <th scope="col">Classe</th>
                  <th scope="col">Agressividade</th>
                  <th scope="col">Ambiente</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="CAA" value="1" id="radio" checked>
                  </div></td>
                  <th scope="row">&#8544</th>
                  <td>Fraca</td>
                  <td>Rural, Submersa</td>
                </tr>
                <tr>
                  <td>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="CAA" id="radio" value="2">
                  </div></td>
                  <th scope="row">&#8545</th>
                  <td>Moderada</td>
                  <td>Urbana</td>
                </tr>
                <tr>
                  <td>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="CAA" id="radio" value="3">
                  </div></td>
                  <th scope="row">&#8546</th>
                  <td>Forte</td>
                  <td>Marinha, Industrial</td>
                </tr>
                <tr>
                  <td>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="CAA" id="radio" value="4">
                  </div></td>
                  <th scope="row">&#8547</th>
                  <td>Muito forte</td>
                  <td>Industrial, Respingos de maré</td>
                </tr>
              </tbody>
            </table>
          </div><p></p>

          <div class="row marketing"">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="parametrod_" onchange="habilitar2()" name="parametrod_">
              <label class="custom-control-label" for="parametrod_">Definir manualmente o parâmetro d'</label>
            </div>
          </div>


          <div class="row marketing">

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">d'</span>
              </div>

                <input type="number" class="form-control" data-toggle="tooltip"
                data-placement="top" title="Distância entre a borda mais tracionada e o centro
                de gravidade da armadura tracionada"
                aria-label="Dollar amount
                (with dot and two decimal places)" min="0" placeholder="Parâmetro d'" name="d_" id='d_' disabled>

              <div class="input-group-append">
                <span class="input-group-text">cm</span>
              </div>
            </div>
          </div><p></p>

          </div>
        </div>  <!-- COLUMN 2 - FIM -->
      </div>


    </div> <!-- container -->
    <div class="container text-center"><p></p>

      <button type="submit" class="btn btn-template" name="button">
        <i class="fas fa-calculator"></i> Calcular</button>

    </div>
  </form>
  <footer class="text-right"><small>ARAÚJO, J. M. <em>Curso de Concreto
    Armado</em>, Pag. 115-116, 3ªEd </small></footer>



{% endblock %}
