{% extends 'pt/padrao.html' %}

{% block title %}{{ super() }} - Início {% endblock %}

{%block content%}

      <div class="jumbotron">
            <h1>Bem-Vindo ao ReCon</h1>
            <p class="lead">Dimensione os seus proprios projetos estruturais.</p>
            <hr>
            <p><a class="btn btn-template" href="menu" role="button">
              <i class="fas fa-scroll"> </i> Novo Projeto</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-4">
          <h4>Dimensionamento</h4>
          <p>Cálculos feitos para o Estado Limite Último de acordo com a NBR 6118-2014.</p>

            <h4>Detalhamento</h4>
          <p>Veja com fica a seção transversal da sua viga.</p>

          <h4>Memorial de cálculo</h4>
          <p>Obtenha o cálculo feito pelo programa passo a passo em um relátorio.</p>
        </div>

        <div class="col-lg-4">
          <h4>Publicação</h4>
          <p>Esta página é parte de um trabalho publicado no XLI
            Ibero-Latin-American Congress on Computational Methods in Engineering
            (CILAMCE-2020) .</p>
          <div class="row justify-content-center">
            <div class="col-auto">
              <img src="{{cilamce}}" alt="Imagem não encontrada" width="300" height="200">
            </div>
          </div>


        </div>

        <div class="col-lg-4">
            <div class="row justify-content-center">
              <div class="col-auto">
                <img src="{{lufrj}}" alt="Imagem não encontrada" width="200" height="142.857">
              </div>
            </div>
            <hr width="70%" size="10" >
            <div class="row justify-content-center">
              <div class="col-auto">
                <img src="{{lmacae}}" alt="Imagem não encontrada" width="200" height="133.333">
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="col-4">

          </div>
          <div class="col-4 text-center">
            <div class="btn-group btn-group-lg" role="group">
              <a tabindex="0" type="button" class="btn btn-lg btn-outline-secondary" data-toggle="popover" data-placement='left'
              title="Email" data-content="jovitorsant@gmail.com">
              <i class="far fa-envelope"></i></a>
              <!--<a tabindex="0" type="button" class="btn btn-lg btn-outline-warning" data-toggle="popover" data-placement='top'
              title="Instagram" data-content="@iamvitorjesus" data-trigger='focus'>
              <i class="fab fa-instagram"></i></a>
              <a tabindex="0" type="button" class="btn btn-lg btn-outline-secondary "
              data-toggle="popover" data-placement='right'
              title="Github" data-content="https://github.com/iamvitorjesus/artigo">
              <i class="fab fa-github"></i></a>-->
            </div>
          </div>
          <div class="col-4">

          </div>
        </div>

      </div>


{% endblock %}
