{% extends 'pt/padrao.html' %}

{% block title %}{{ super() }} - Resultados {% endblock %}

{% block content %}
  <div class="container flex-auto">
    <div class="p-3 mb-5 bg-grey rounded row">
      <div class="col text-center">

        <h3 class="text-muted">Resultados</h3>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row marketing">

      <div class="col-lg-6">
        <h5 class="text-center">Dimensionamento à Flexão</h5>
        <p></p>
        <p class="text-justify">As Resistências de Cálculo (ou de Projeto) dos materiais são
           obtidos dividindo-se as resistências caractéristicas por um coeficiente parcial de
           segurança.</p>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Concreto:
            &#402<sub>cd</sub> = &#402<sub>ck</sub>/&#611<sub>c</sub> =
            {{info['fck']}}/{{info['gc']}} = {{(info['fcd']*10)|round(3,'common')}} MPa.</li>
          <li class="list-group-item">Aço:
            &#402<sub>yd</sub>=&#402<sub>yk</sub>/&#611<sub>s</sub> =
            {{info['fyk']}}/{{info['gc']}} = {{(info['fyd']*10)|round(3,'common')}} MPa.</li>
        </ul>

        <p class="text-justify">As ações devem ser majoradas pelo coeficiente &#611<sub>f</sub>,
          cujos valores encontram-se estabelecidos em 11.7.1, 11.7.2 e Tabelas 11.1 e 11.2
          da norma.</p>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ações Permanentes:
            M<sub>sd</sub> = M<sub>k</sub>&#611<sub>f</sub> =
            {{info['Mk']}}&#x22C5;{{info['gf']}} = {{info['Msd']|round(3,'common')}} kN&#x22C5;m.</li>
        </ul>

        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Carregamento</th>
              <th scope="col">Concreto (/&#611<sub>c</sub>)</th>
              <th scope="col">Aço (/&#611<sub>s</sub>)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Normais</th>
              <td>1,40</td>
              <td>1,15</td>
            </tr>
            <tr>
              <th scope="row">Especiais</th>
              <td>1,20</td>
              <td>1,15</td>
            </tr>
            <tr>
              <th scope="row">Excepcionais</th>
              <td>1,20</td>
              <td>1,00</td>
            </tr>
          </tbody>
        </table>

        <p class="text-justify">A NBR 6118 estabelece uma vida útil de projeto mínima de 50 anos
          para as estruturas de edifívios convencionais. Para garantir esse requisito a
          armadura deve estar devidamente protegida de intemperes e ações corrosivas.
          Nesse sentido a norma estabelece um cobrimento nominal representado pela letra
          <em>'c'</em> associado a uma determinada Classe de Agressividade Ambiental (CAA).</p>

        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Elemento</th>
              <th scope="col">&#8544</th>
              <th scope="col">&#8545</th>
              <th scope="col">&#8546</th>
              <th scope="col">&#8547</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Laje</th>
              <td>2,0</td>
              <td>2,5</td>
              <td>3,5</td>
              <td>4,5</td>
            </tr>
            <tr class="table-secondary">
              <th scope="row">Viga e Pilar</th>
              <td>2,5</td>
              <td>3,0</td>
              <td>4,0</td>
              <td>5,0</td>
            </tr>
            <tr>
              <th scope="row">Em Contato com o Solo</th>
              <td>3,0</td>
              <td>3,0</td>
              <td>4,0</td>
              <td>5,0</td>
            </tr>
          </tbody>
        </table>

        <p class="text-justify">
          {% if info['CAA']==1 %}
            Como a classe escolhida foi a Classe &#8544. Logo, c = {{info['c']}} cm.

          {% elif info['CAA']==2 %}
            Como a classe escolhida foi a Classe &#8545. Logo, c = {{info['c']}} cm.

          {% elif info['CAA']==3 %}
            Como a classe escolhida foi a Classe &#8546. Logo, c = {{info['c']}} cm.

          {% elif info['CAA']==4 %}
            Como a classe escolhida foi a Classe &#8544. Logo, c = {{info['c']}} cm.

          {% endif %}
        </p>
        <p class="text-justify">
          Sem o conhecimento do diâmetro da armadura transversal e da longitudianal,
          inicialmente adota-se um diâmetro de 5.0 mm para o estribo e 10.0 mm para
          as barras longitudinais para o calculo da distância <em>'d'</em> entre a
          borda mais tracionada da seção e o centro de gravidade da armadura longitudianal.
          Considerando-se apenas uma camada para a armadura de flexão temos:
          d = h - (c + Ø<sub>t</sub> + (Ø<sub>l</sub>/2))={{info['h']}} - {{info['d1'] }} =
          {{info['d']}} cm.

        </p>
        <p class="text-justify">Pela lei de Hooke: &#400<sub>yd</sub>=
          &#402<sub>yd</sub>/E<sub>s</sub>. Dado o tipo de aço escolhido
          CA-{{info['fyk']/10}}, temos que &#400<sub>yd</sub>=
          {{info['eyd']*1000|round(2,'common')}} &#137.</p>
          <p></p>

        <h6 class="text-center">Algumas considerações a respeito do Concreto</h6>

        <p class="text-justify">A distribuição de tensões no concreto é feita de acordo
          com o diagrama parábola-retângulo, definido no item 8.2.10.1 da NBR 6118, com
          tensão de pico igual a &#593<sub>c</sub>&#402<sub>cd</sub>. Esse diagrama pode
          ser substituído pelo retângulo de profundidade y = λx, onde o valor do
          parâmetro λ bem como &#593<sub>c</sub> são determinados a partir da
          resistência caractéristica do concreto.
        </p>
          <p></p>

        {% if info['fck']<=50 %} <!-- fck <= 50 -->
          <p class="text-justify">
            O &#402<sub>ck</sub> = {{info['fck']}} MPa se enquadra na classe de resistência do
            grupos &#8544. Portanto,
          </p>

          <p class="text-center">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">deformação específica máxima do concreto:
                &#400<sub>u</sub> = 3.50 &#137;</li>
              <li class="list-group-item">parâmetro de redução da resistência do concreto
                na compressão: &#593<sub>c</sub> = 0.85;</li>
              <li class="list-group-item">parâmetro de uniformização do esforço de compressão:
                λ = 0.80.</li>
              <li class="list-group-item">critério de ductilidade:
                n<sub>lim</sub> = {{info['nlim']}} <strong>&#10230</strong> x<sub>lim</sub> =
                n<sub>lim</sub>&#x22C5;d = {{info['xlim']|round(2,'common')}} cm.</li>
            </ul>
          </p>

          <h6 class="text-center">Domínio de Deformação</h6>
          <p class="text-justify">O valor x<sub>2lim</sub> delimita os domínos 2 e 3,
            e para os concretos do Grupo &#8544; de resistência (f<sub>ck</sub> ⋜ 50 MPa)
            é fixo e igual a {{(info['eu']/(info['eu']+0.01))|round(3, 'common')}}&#x22C5;d,
            pois a deformação máxima do concreto para esse grupo é fixo em 3.50 &#137.</p>

          <p class="text-justify">x<sub>2lim</sub> = {{(info['eu']/(info['eu']+0.01))|
            round(3, 'common')}}&#x22C5;{{info['d']}} = {{info['x2lim']|round(2, 'common')}} cm.</p>

          <p class="text-justify">O valor x<sub>3lim</sub> delimita os domínos 3 e 4,
            e para os concretos do Grupo &#8544; e aço CA-{{(info['fyk']/10)|round|int}}
            é fixo e igual a {{(info['eu']/(info['eu']+info['eyd']))|round(3, 'common')}}&#x22C5;d.
          </p>

          <p class="text-justify">x<sub>3lim</sub> = {{(info['eu']/(info['eu']+info['eyd']))|
            round(3, 'common')}}&#x22C5;{{info['d']}} = {{info['x3lim']|round(2, 'common')}} cm.</p>

        {% else %}

          <p class="text-justify">
            O &#402<sub>ck</sub> = {{info['fck']}} MPa se enquadra na classe de resistência do
            grupos &#8545. Portanto,
          </p>

          <p class="text-center">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">deformação específica máxima do concreto:
                &#400<sub>u</sub> = 2.60 &#137 + 35 &#137(90-&#402<sub>ck</sub>/100)<sup>4</sup> =
                  {{(info['eu']*1000)|round(2 ,'common')}} &#137;</li>
              <li class="list-group-item">parâmetro de redução da resistência do concreto na
                compressão: &#593<sub>c</sub> = 0.85[1 - ((&#402<sub>ck</sub> - 50)/200)]=
                {{info['ac']|round(3,'common')}};</li>
              <li class="list-group-item">parâmetro de uniformização do esforço de compressão:
                λ = 0,80 - [(&#402<sub>ck</sub> - 50)/400] = {{info['y']|round(2,'common')}};</li>
              <li class="list-group-item">critério de ductilidade:
                n<sub>lim</sub> = {{info['nlim']}} <strong>&#10230</strong> x<sub>lim</sub> =
                n<sub>lim</sub>&#x22C5;d = {{info['xlim']|round(2,'common')}} cm.</li>
            </ul>
          </p>

          <h6 class="text-center">Domínio de Deformação</h6>
          <p class="text-justify">O valor x<sub>2lim</sub> delimita os domínos 2 e 3,
            e para os concretos do Grupo &#8545; de resistência (f<sub>ck</sub> > 50 MPa)
            depende da deformação especifica máxima do concreto
            {{(info['eu']/(info['eu']+0.01))|round(3, 'common')}}&#x22C5;d</p>

          <p class="text-justify">x<sub>2lim</sub> = {{(info['eu']/(info['eu']+0.01))|
            round(3, 'common')}}&#x22C5;{{info['d']}} = {{info['x2lim']|round(2, 'common')}} cm.</p>

          <p class="text-justify">O valor x<sub>3lim</sub> delimita os domínos 3 e 4,
            e para os concretos do Grupo &#8544; e aço CA-{{(info['fyk']/10)|round|int}}
            é fixo e igual a {{(info['eu']/(info['eu']+info['eyd']))|round(3, 'common')}}&#x22C5;d.
          </p>

          <p class="text-justify">x<sub>3lim</sub> = {{(info['eu']/(info['eu']+info['eyd']))|
            round(3, 'common')}}&#x22C5;{{info['d']}} = {{info['x3lim']|round(2, 'common')}} cm.</p>

        {% endif %}

        {% if info['x2lim'] > info['xcal']  %}
          <p><strong>Domínio 2: </strong>x<sub>2lim</sub> = {{info['x2lim']|round(2,'common')}} cm >
            {{info['xcal']|round(2,'common')}} cm = x.</p>

            {% elif info['xcal'] >= info['x2lim'] and info['xcal'] <= info['x3lim'] %}
              <p><strong>Domínio 3: </strong>x<sub>2lim</sub> = {{info['x2lim']|round(2,'common')}} cm ⋜
                {{info['xcal']|round(2,'common')}} cm = x ⋜ {{info['x3lim']|round(2,'common')}} cm = x<sub>3lim</sub>.</p>

            {% elif info['xcal'] > info['x3lim'] %}
              <p><strong>Domínio 4: </strong>x = {{info['xcal']|round(2,'common')}} cm >
                {{info['x3lim']|round(2,'common')}} cm = x<sub>3lim</sub>.</p>

        {% endif %}

        {% if info['x'] < info['xlim'] %}
          <p>A viga passa também no critério de ductilidade pois {{info['nlim']}}&#x22C5;d =
            {{info['nlim']}}&#x22C5;{{info['d']}} = {{info['xlim']|round(2,'common')}} cm > <strong>x =
            {{info['x']|round(2, 'common')}} cm.</strong></p>

          {% elif info['cal'] == 1 %}
            <p>A viga não passa no critério de ductilidade pois {{info['nlim']}}&#x22C5;d =
              {{info['nlim']}}&#x22C5;{{info['d']}} = {{info['xlim']|round(2,'common')}} cm < x =
              {{info['xcal']|round(2, 'common')}} cm.</p>

            <p></p>
            <p>Portanto para os proximos calculos <strong>x = {{info['x']|round(2, 'common')}} cm.</strong></p>

          {% elif info['xcal'] == info['xlim'] %}
            <p>A viga passa também no critério de ductilidade pois {{info['nlim']}}&#x22C5;d =
              {{info['nlim']}}&#x22C5;{{info['d']}} = {{info['xlim']|round(2,'common')}} cm = <strong>x =
              {{info['xcal']|round(2, 'common')}} cm.</strong></p>

        {% endif %}

        {% if info['Msdlim'] >= info['Msd'] %}
          <h6 class="text-center">Área de Aço</h6>
          <p class="text-justify">M<sub>sdlim</sub> = {{info['Msdlim']|round(2,'common')}} kN&#x22C5;m
            ⋝ {{info['Msd']|round(2,'common')}} kN&#x22C5;m = M<sub>sd</sub>, ou seja, <strong>Armadura
            Simples</strong>, o que significa que apenas a armadura de tração será calculada, a
            armadura de compreção servirá apenas para garantira a posição da armadura transversal
            durante a execução (porta estribo), adotado-se 2 barras de 8.0 mm de diâmetro (2Ø8mm).
          </p>

          <p>A<sub>s</sub> = M<sub>sd</sub>/(&#402<sub>yd</sub>&#x22C5;(d - 0.4&#x22C5;x)) =
          {{info['Msd']|round(1,'common')}}/({{info['fyd']|round(3,'common')}}&#x22C5;
          ({{info['d']|round(2,'common')}} - 0.4&#x22C5;{{info['x']|round(2,'common')}})) =
          <strong>{{info['As']|round(2,'common')}} cm².</strong></p>

        {% else %}
          <h6 class="text-center">Área de Aço</h6>
          <p class="text-justify">M<sub>sd</sub> = {{info['Msd']|round(1,'common')}} kN&#x22C5;cm >
            {{info['Msdlim']|round(1,'common')}} kN&#x22C5;cm = M<sub>sdlim</sub>,
            ou seja, <strong>Armadura Dupla</strong>. M<sub>d1</sub> = M<sub>sdlim</sub>
            <strong>&#10230</strong> M<sub>d2</sub> =  M<sub>sd</sub> - M<sub>d1</sub> =
            {{info['Msd']|round(1,'common')}} - {{info['Md1']|round(1,'common')}} =
            {{info['Md2']|round(1,'common')}} kN&#x22C5;m.
          </p>

          <p>A<sub>s1</sub> = M<sub>d1</sub>/(&#402<sub>yd</sub>&#x22C5;(d - 0.4&#x22C5;x)) =
          {{info['Md1']|round(1,'common')}}/({{info['fyd']|round(3,'common')}}&#x22C5;
          ({{info['d']|round(2,'common')}} - 0.4&#x22C5;{{info['x']|round(2,'common')}})) =
          {{info['As1']|round(2,'common')}} cm²</p>
          <p>A<sub>s2</sub> = M<sub>sd</sub>/(&#402<sub>yd</sub>&#x22C5;(d - d<sub>2</sub>)) =
          {{info['Md2']|round(1,'common')}}/({{info['fyd']|round(3,'common')}}&#x22C5;
          ({{info['d']|round(2,'common')}} - {{info['d2']|round(2,'common')}})) =
          {{info['As2']|round(2,'common')}} cm²</p>

          <p>Se a deformação específica da armadura comprimida (&#400<sub>s</sub>)
            for maior ou igual que a deformação específica de escoamento, então
            A<sub>ss</sub> = A<sub>s2</sub>. Senão a tenção na armadura é proporcional
            a deformação (Lei de Hooke).</p>

          <p>&#400<sub>s</sub> = (({{info['xlim']|round(2,'common')}} -
            {{info['d2']|round(2,'common')}})&#x22C5;{{info['eu']*1000|round(2,'common')}} &#137;)/
            {{info['xlim']|round(2,'common')}} = {{(info['es']*1000)|round(2,'common')}} &#137; </p>

          {% if info['es'] > info['eyd'] %}
            <p>&#400<sub>s</sub> = {{(info['es']*1000)|round(2,'common')}} &#137; >
              {{(info['eyd']*1000)|round(2,'common')}} &#137; = &#400<sub>yd</sub>.</p>

          {% elif info['es'] == info['eyd'] %}
            <p>&#400<sub>s</sub> = {{(info['es']*1000)|round(2,'common')}} &#137; =
              {{(info['eyd']*1000)|round(2,'common')}} &#137; = &#400<sub>yd</sub>.</p>

          {% else %}
            <p>&#400<sub>s</sub> = {{(info['es']*1000)|round(2,'common')}} &#137; <
              {{(info['eyd']*1000)|round(2,'common')}} &#137; = &#400<sub>yd</sub>.
              Então σ<sub>sd</sub> = &#400<sub>s</sub>&#x22C5;E<sub>s</sub> =
              {{info['Dsd']|round(3, 'common')}} kN/cm².</p>

          {% endif %}

          <p class="text-center">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Área da armadura tracionada:
                A<sub>s</sub> = A<sub>s1</sub> + A<sub>s2</sub> = {{info['As1']|round(2,'common')}} +
                {{info['As2']|round(2,'common')}} = <strong>{{(info['As'])|round(2 ,'common')}} cm²</strong></li>
              <li class="list-group-item">Área da armadura comprimida:
                A<sub>ss</sub> = <strong>{{info['Ass']|round(2,'common')}} cm²</strong></li>
            </ul>
          </p>

        {% endif %}

      </div>

        <div class="col-lg-6">
          <h5 class="text-center">Dimensionamento ao Cisalhamento</h5>
          {% if info['Modelo'] == 2 %}
            <p>A NBR 6118 admite que o ângulo de inclinação das diagonais de
              compressão (&#629;) varie livrimente entre 30̊&#778; e 45&#778;
              e que a parcela V<sub>c</sub> sofra redução com aumento de Vsd.</p>

          {% else %}
            <p>A treliça clássica de Ritter-Mörsch é admitida como forma de
              distribuição dos esforços dentro do concreto. O ângulo de inclinação
              das bielas comprimidas é fixo em 45&#778;.</p>

          {% endif %}

          <ul class="list-group list-group-flush">
            <li class="list-group-item">Concreto:
              &#402<sub>ctd</sub> = 0.7 &#x22C5; &#402<sub>ctm</sub>/&#611<sub>f</sub> =
              0.7 &#x22C5; 0.3 &#x22C5; (&#402<sub>ck</sub>)<sup>2/3</sup>/&#611<sub>f</sub> =
              {{(info['fctd']*10)|round(3,'common')}} MPa.</li>
            <li class="list-group-item">Aço:
              &#402<sub>ywd</sub>=&#402<sub>ywk</sub>/&#611<sub>s</sub> =
              {{info['fywk']}}/{{info['gc']}} = {{(info['fywd']*10)|round(3,'common')}} MPa.</li>
            <li class="list-group-item">Carregamento:
              V<sub>sd</sub> = V<sub>k</sub>&#x22C5;&#611<sub>f</sub> =
              {{info['Vk']}} &#x22C5; {{info['gf']}} = {{(info['Vsd'])|round(3,'common')}} MPa.</li>
          </ul>

          <h6 class="text-center">Verificação da Compressão nas Bielas</h6>

            &#402<sub>ctd2</sub>

            <!--  -->
          <form method="post">
            <div class="row marketing">

              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">&Oslash<sub>l</sub></span>
                  </div>

                  <input type="number" class="form-control"aria-label="Dollar amount
                  (with dot and two decimal places)"
                  placeholder="Diâmetro da Armadura Longitudinal" name="ol">

                <div class="input-group-append">
                  <select class="custom-select" id="inputGroupSelect01" name="unitol">
                    <option value="1">mm</option>
                    <option value="2">cm</option>
                  </select>
                </div>
              </div>
            </div><p></p>



            <div class="row marketing">

              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">&Oslash<sub>t</sub></span>
                  </div>

                  <input type="number" class="form-control"aria-label="Dollar amount
                    (with dot and two decimal places)"
                    placeholder="Diâmetro da Armadura Transversal" name="ot">

                <div class="input-group-append">
                  <select class="custom-select" id="inputGroupSelect01" name="unitot">
                    <option value="1">mm</option>
                    <option value="2">cm</option>
                  </select>
                </div>
              </div>
            </div><p></p>

            {% if info['h'] > 60 %}
              <h6 class="text-center">Armadura de Pele</h6>
              <p>A<sub>sp,face</sub> = 0.10 % &#x22C5; b<sub>w</sub>&#x22C5;h =  0.10 % &#x22C5;
              {{info['bw']|round(2,'common')}}&#x22C5;{{info['h']|round(2,'common')}} =
              <strong>{{info['Asp_face']|round(2,'common')}} cm²/face.</strong></p>

              <div class="row marketing">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">&Oslash<sub>p</sub></span>
                    </div>

                    <input type="number" class="form-control"aria-label="Dollar amount
                      (with dot and two decimal places)"
                      placeholder="Diâmetro da Armadura de Pele" name="op">

                  <div class="input-group-append">
                    <select class="custom-select" id="inputGroupSelect01" name="unitop">
                      <option value="1">mm</option>
                      <option value="2">cm</option>
                    </select>
                  </div>
                </div>
              </div><p></p>

            {% endif %}


            <!-- DESENHO DA SEÇÃO TRANSVERSAL  -->
            <script>
            var bw = {{info['bw']}}
            var h = {{info['h']}}
            var c ={{info['c']}}
            var ave ={{info['ave']}}
            var aho ={{info['aho']}}
            var x = {{info['x']}}

            var nbmax ={{info['nbmax']}}
            var nb ={{info['nb']}}
            var nc = {{info['nc']}}

            var ol = {{info['ol']}}
            var ot = {{info['ot']}}
            function draw(bw, h, c, aho, ave, x, nb, nbmax, nc, ol, ot) {
              c = c*10;
              bw = bw*10
              h = h*10;
              var canv = document.getElementById("myCanvas");
              var concrete = canv.getContext("2d");
              var rebar = canv.getContext("2d");
              var cord1 = c+(ot/2);
              var cord2 = bw-(c*2)-(ot);
              var cord3 = h-(c*2)-(ot);

              concrete.fillStyle = "#d3d9df";
              concrete.fillRect(0, 0, bw, h);

              concrete.lineWidth = ot;
              concrete.strokeRect(cord1, cord1, cord2 , cord3);
              rebar.strokeStyle = 'black';

              rebar.fillStyle = 'black';


              var posy = h-(c+ot+(ol))
              for (var i = 0; i == nb; i = i + nbmax) {
                var posx = c+ot+(ol/2)
                for (var k = 0; k == nbmax; k++){
                  rebar.arc(posx, posy, ol/2, 0, Math.PI*2);
                  rebar.stroke();
                  rebar.fill();
                  posx = posx + x + (ol/2)
                }
                posy = posy + ave + ol
              }

            }
            </script>

          <div class="row justify-content-center mb-5">
            <input onclick="draw(bw, h, c, aho, ave, x, nb, nbmax, nc, ol, ot)"
            type="submit" class="btn btn-template" value="Desenho"></input>
          </div>
          </form>
          <div class="row justify-content-center">

              <canvas class="center" id="myCanvas" width="200" height="500">
              </canvas>

          </div>
          <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <img src="..." class="rounded mr-2" alt="...">
              <strong class="mr-auto"> Área de Aço </strong>
              <small class="text-muted">just now</small>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body">
              A<sub>s</sub> = {{info['As']}} cm².
            </div>
          </div>

          <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <img src="..." class="rounded mr-2" alt="...">
              <strong class="mr-auto">Bootstrap</strong>
              <small class="text-muted">2 seconds ago</small>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body">
              Heads up, toasts will stack automatically
            </div>
          </div>

        </div>




    </div>
  </div>
{%endblock %}
