{% extends 'pt/padrao.html' %}

{% block title %}{{ super() }} - Resultados {% endblock %}

{% block content %}
  <div class="container flex-auto">
    <div class="p-3 mb-5 bg-grey rounded row">
      <div class="col text-center">

        <h3 class="text-muted">Resultados</h3>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row marketing">

      <div class="col-lg-6">
        <h5 class="text-center">Dimensionamento à Flexão</h5>
        <p></p>
        <p class="text-justify">As Resistências de Cálculo (ou de Projeto) dos materiais são
           obtidos dividindo-se as resistências caractéristicas por um coeficiente parcial de
           segurança.</p>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Concreto:
            &#402<sub>cd</sub> = &#402<sub>ck</sub>/&#611<sub>c</sub> =
            {{info['fck']}}/{{info['gc']}} = {{(info['fcd']*10)|round(3,'common')}} MPa.</li>
          <li class="list-group-item">Aço:
            &#402<sub>yd</sub>=&#402<sub>yk</sub>/&#611<sub>s</sub> =
            {{info['fyk']}}/{{info['gc']}} = {{(info['fyd']*10)|round(3,'common')}} MPa.</li>
        </ul>

        <p class="text-justify">As ações devem ser majoradas pelo coeficiente &#611<sub>f</sub>,
          cujos valores encontram-se estabelecidos em 11.7.1, 11.7.2 e Tabelas 11.1 e 11.2
          da norma.</p>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ações Permanentes:
            M<sub>sd</sub> = M<sub>k</sub>&#611<sub>f</sub> =
            {{info['Mk']}}&#x22C5;{{info['gf']}} = {{info['Msd']|round(3,'common')}} kN&#x22C5;m.</li>
        </ul>

        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Carregamento</th>
              <th scope="col">Concreto (/&#611<sub>c</sub>)</th>
              <th scope="col">Aço (/&#611<sub>s</sub>)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Normais</th>
              <td>1,40</td>
              <td>1,15</td>
            </tr>
            <tr>
              <th scope="row">Especiais</th>
              <td>1,20</td>
              <td>1,15</td>
            </tr>
            <tr>
              <th scope="row">Excepcionais</th>
              <td>1,20</td>
              <td>1,00</td>
            </tr>
          </tbody>
        </table>

        <p class="text-justify">A NBR 6118 estabelece uma vida útil de projeto mínima de 50 anos
          para as estruturas de edifívios convencionais. Para garantir esse requisito a
          armadura deve estar devidamente protegida de intemperes e ações corrosivas.
          Nesse sentido a norma estabelece um cobrimento nominal representado pela letra
          <em>'c'</em> associado a uma determinada Classe de Agressividade Ambiental (CAA).</p>

        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Elemento</th>
              <th scope="col">&#8544</th>
              <th scope="col">&#8545</th>
              <th scope="col">&#8546</th>
              <th scope="col">&#8547</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Laje</th>
              <td>2,0</td>
              <td>2,5</td>
              <td>3,5</td>
              <td>4,5</td>
            </tr>
            <tr class="table-secondary">
              <th scope="row">Viga e Pilar</th>
              <td>2,5</td>
              <td>3,0</td>
              <td>4,0</td>
              <td>5,0</td>
            </tr>
            <tr>
              <th scope="row">Em Contato com o Solo</th>
              <td>3,0</td>
              <td>3,0</td>
              <td>4,0</td>
              <td>5,0</td>
            </tr>
          </tbody>
        </table>

        <p class="text-justify">
          {% if info['CAA']==1 %}
            Como a classe escolhida foi a Classe &#8544. Logo, c = {{info['c']}} cm.

          {% elif info['CAA']==2 %}
            Como a classe escolhida foi a Classe &#8545. Logo, c = {{info['c']}} cm.

          {% elif info['CAA']==3 %}
            Como a classe escolhida foi a Classe &#8546. Logo, c = {{info['c']}} cm.

          {% elif info['CAA']==4 %}
            Como a classe escolhida foi a Classe &#8544. Logo, c = {{info['c']}} cm.

          {% endif %}
        </p>
        <p class="text-justify">
          Sem o conhecimento do diâmetro da armadura transversal e da longitudianal,
          inicialmente adota-se um diâmetro de 5.0 mm para o estribo e 10.0 mm para
          as barras longitudinais para o calculo da distância <em>'d'</em> entre a
          borda mais tracionada da seção e o centro de gravidade da armadura longitudianal.
          Considerando-se apenas uma camada para a armadura de flexão temos:
          d = h - (c + Ø<sub>t</sub> + (Ø<sub>l</sub>/2))={{info['h']}} - {{info['d1'] }} =
          {{info['d']}} cm.

        </p>
        <p class="text-justify">Pela lei de Hooke: &#400<sub>yd</sub>=
          &#402<sub>yd</sub>/E<sub>s</sub>. Dado o tipo de aço escolhido
          CA-{{info['fyk']/10}}, temos que &#400<sub>yd</sub>=
          {{info['eyd']*1000|round(2,'common')}} &#137.</p>
          <p></p>

        <h6 class="text-center">Algumas considerações a respeito do Concreto</h6>

        <p class="text-justify">A distribuição de tensões no concreto é feita de acordo
          com o diagrama parábola-retângulo, definido no item 8.2.10.1 da NBR 6118, com
          tensão de pico igual a &#593<sub>c</sub>&#402<sub>cd</sub>. Esse diagrama pode
          ser substituído pelo retângulo de profundidade y = λx, onde o valor do
          parâmetro λ bem como &#593<sub>c</sub> são determinados a partir da
          resistência caractéristica do concreto.
        </p>
          <p></p>



        {% if info['fck']<=50 %} <!-- fck <= 50 -->
          <p class="text-justify">
            O &#402<sub>ck</sub> = {{info['fck']}} MPa se enquadra na classe de resistência do
            grupos &#8544. Portanto,
          </p>

          <p class="text-center">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">deformação específica máxima do concreto:
                &#400<sub>u</sub> = 3.50 &#137;</li>
              <li class="list-group-item">parâmetro de redução da resistência do concreto
                na compressão: &#593<sub>c</sub> = 0.85;</li>
              <li class="list-group-item">parâmetro de uniformização do esforço de compressão:
                λ = 0.80.</li>
              <li class="list-group-item">critério de ductilidade:
                n<sub>lim</sub> = {{info['nlim']}} <strong>&#10230</strong> x<sub>lim</sub> =
                n<sub>lim</sub>&#x22C5;d = {{info['xlim']|round(2,'common')}} cm.</li>
            </ul>
          </p>

          <h6 class="text-center">Domínio de Deformação</h6>
          <p class="text-justify">O valor x<sub>2lim</sub> delimita os domínos 2 e 3,
            e para os concretos do Grupo &#8544; de resistência (f<sub>ck</sub> ⋜ 50 MPa)
            é fixo e igual a {{(info['eu']/(info['eu']+0.01))|round(3, 'common')}}&#x22C5;d,
            pois a deformação máxima do concreto para esse grupo é fixo em 3.50 &#137.</p>

          <p class="text-justify">x<sub>2lim</sub> = {{(info['eu']/(info['eu']+0.01))|
            round(3, 'common')}}&#x22C5;{{info['d']}} = {{info['x2lim']|round(2, 'common')}} </p>

          <p class="text-justify">O valor x<sub>3lim</sub> delimita os domínos 3 e 4,
            e para os concretos do Grupo &#8544; e aço CA-{{(info['fyk']/10)|round|int}}
            é fixo e igual a {{(info['eu']/(info['eu']+info['eyd']))|round(3, 'common')}}&#x22C5;d.
          </p>

          <p class="text-justify">x<sub>3lim</sub> = {{(info['eu']/(info['eu']+info['eyd']))|
            round(3, 'common')}}&#x22C5;{{info['d']}} = {{info['x3lim']|round(2, 'common')}} </p>

        {% else %}

          <p class="text-justify">
            O &#402<sub>ck</sub> = {{info['fck']}} MPa se enquadra na classe de resistência do
            grupos &#8545. Portanto,
          </p>

          <p class="text-center">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">deformação específica máxima do concreto:
                &#400<sub>u</sub> = 2.60 &#137 + 35 &#137(90-&#402<sub>ck</sub>/100)<sup>4</sup> =
                  {{(info['eu']*1000)|round(2 ,'common')}} &#137;</li>
              <li class="list-group-item">parâmetro de redução da resistência do concreto na
                compressão: &#593<sub>c</sub> = 0.85[1 - ((&#402<sub>ck</sub> - 50)/200)]=
                {{info['ac']|round(3,'common')}};</li>
              <li class="list-group-item">parâmetro de uniformização do esforço de compressão:
                λ = 0,80 - [(&#402<sub>ck</sub> - 50)/400] = {{info['y']|round(2,'common')}};</li>
              <li class="list-group-item">critério de ductilidade:
                n<sub>lim</sub> = {{info['nlim']}} <strong>&#10230</strong> x<sub>lim</sub> =
                n<sub>lim</sub>&#x22C5;d = {{info['xlim']|round(2,'common')}} cm.</li>
            </ul>
          </p>

          <h6 class="text-center">Domínio de Deformação</h6>
          <p class="text-justify">O valor x<sub>2lim</sub> delimita os domínos 2 e 3,
            e para os concretos do Grupo &#8545; de resistência (f<sub>ck</sub> > 50 MPa)
            depende da deformação especifica máxima do concreto
            {{(info['eu']/(info['eu']+0.01))|round(3, 'common')}}&#x22C5;d</p>

          <p class="text-justify">x<sub>2lim</sub> = {{(info['eu']/(info['eu']+0.01))|
            round(3, 'common')}}&#x22C5;{{info['d']}} = {{info['x2lim']|round(2, 'common')}} cm.</p>

          <p class="text-justify">O valor x<sub>3lim</sub> delimita os domínos 3 e 4,
            e para os concretos do Grupo &#8544; e aço CA-{{(info['fyk']/10)|round|int}}
            é fixo e igual a {{(info['eu']/(info['eu']+info['eyd']))|round(3, 'common')}}&#x22C5;d.
          </p>

          <p class="text-justify">x<sub>3lim</sub> = {{(info['eu']/(info['eu']+info['eyd']))|
            round(3, 'common')}}&#x22C5;{{info['d']}} = {{info['x3lim']|round(2, 'common')}} cm.</p>

        {% endif %}

        {% if info['x2lim'] > info['x']  %}
          <p><strong>Domínio 2</strong></p>

        {% elif info['x'] >= info['x2lim'] and info['x'] <= info['x3lim'] %}
          <p><strong>Domínio 3</strong></p>
        {% endif %}

        <p>x = {{info['x']|round(2, 'common')}} cm.</p>

        {% if info['x'] < info['xlim'] %}
          <p>A viga passa também no critério de ductilidade pois {{info['nlim']}}&#x22C5;d =
            {{info['nlim']}}&#x22C5;{{info['d']}} = {{info['xlim']|round(2,'common')}} cm > x =
            {{info['x']|round(2, 'common')}} cm.</p>

        {% endif %}

        {% if info['Msdlim'] >= info['Msd'] %}
          <p class="text-justify">M<sub>sdlim</sub> ⋝ M<sub>sd</sub>, ou seja, <strong>Armadura
            Simples</strong>, o que significa que apenas a armadura tração será calculada, a
            armadura de compreção servirá apenas para garantira a posição da armadura transversal
            durante a execução, adotado-se 2 barras de 8.0 mm (2Ø8mm).
          </p>

            \[x =\frac{d}{\lambda}\left(1-\sqrt{1-\frac{2 M_{sd}}{b_{w}\alpha_{c}f_{cd}d^{2}}}\right)\]










        {% else %}
          <p>M<sub>sd</sub> > M<sub>sdlim</sub>, ou seja,
            <strong>Armadura Dupla</strong>,


          </p>


        {% endif %}

        {% if info['x2lim'] < info['x'] %}

          {% if info['x'] < info['x3lim'] %}

          {% endif %}
        {% endif %}



        </div>


        <p></p>
        <div class="col-lg-6">
          <h5 class="text-center">Dimensionamento ao Cisalhamento</h5>


        </div>



      <div class="container">
        <canvas id="myCanvas">
        </canvas>
      </div>

    </div>
  </div>
{%endblock %}
