{% extends 'pt/padrao.html' %}

{% block title %}{{ super() }} - Resultados {% endblock %}

{% block content %}
  <div class="container flex-auto">
    <div class="p-3 mb-5 bg-grey rounded row">
      <div class="col text-center">

        <h3 class="text-muted">RESULTADOS</h3>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row marketing">

      <div class="col-lg-6">
        <h5 class="text-center">Dimensionamento à Flexão</h5>
        <p></p>
        <p class="text-justify">As Resistências de Cálculo (ou de Projeto) dos materiais são
           obtidos dividindo-se as resistências caractéristicas por um coeficiente parcial de
           segurança.</p>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Concreto:
            <b>&#402<sub>cd</sub></b> = &#402<sub>ck</sub>/&#611<sub>c</sub> =
            {{info['fck']}}/{{info['gc']}} = <b>{{(info['fcd']*10)|round(3,'common')}} MPa</b>.</li>
          <li class="list-group-item">Aço:
            <b>&#402<sub>yd</sub></b> = &#402<sub>yk</sub>/&#611<sub>s</sub> =
            {{info['fyk']}}/{{info['gc']}} = <b>{{(info['fyd']*10)|round(3,'common')}} MPa</b>.</li>
        </ul>

        <p class="text-justify">As ações devem ser majoradas pelo coeficiente &#611<sub>f</sub>,
          cujos valores encontram-se estabelecidos em 11.7.1, 11.7.2 e Tabelas 11.1 e 11.2
          da norma.</p>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ações permanentes:
            <b>M<sub>sd</sub></b> = M<sub>k</sub>&#611<sub>f</sub> =
            {{info['Mk']}}&#x22C5;{{info['gf']}} = <b>{{info['Msd']|round(3,'common')}}
              kN&#x22C5;m</b>.</li>
        </ul>

        <p class="text-justify">A NBR 6118 estabelece uma vida útil de projeto mínima de 50 anos
          para as estruturas de edifívios convencionais. Para garantir esse requisito a
          armadura deve estar devidamente protegida de intemperes e ações corrosivas.
          Nesse sentido a norma estabelece um cobrimento nominal representado pela letra
          <em>'c'</em> associado a uma determinada Classe de Agressividade Ambiental (CAA).</p>

        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Elemento</th>
              <th scope="col">&#8544</th>
              <th scope="col">&#8545</th>
              <th scope="col">&#8546</th>
              <th scope="col">&#8547</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Laje</th>
              <td>2,0</td>
              <td>2,5</td>
              <td>3,5</td>
              <td>4,5</td>
            </tr>
            <tr class="table-secondary">
              <th scope="row">Viga e Pilar</th>
              <td>2,5</td>
              <td>3,0</td>
              <td>4,0</td>
              <td>5,0</td>
            </tr>
            <tr>
              <th scope="row">Em Contato com o Solo</th>
              <td>3,0</td>
              <td>3,0</td>
              <td>4,0</td>
              <td>5,0</td>
            </tr>
          </tbody>
        </table>

        <p class="text-justify">
          {% if info['CAA']==1 %}
            Como a classe escolhida foi a Classe &#8544. Logo, <b>c = {{info['c']}} cm</b>.

          {% elif info['CAA']==2 %}
            Como a classe escolhida foi a Classe &#8545. Logo, <b>c = {{info['c']}} cm</b>.

          {% elif info['CAA']==3 %}
            Como a classe escolhida foi a Classe &#8546. Logo, <b>c = {{info['c']}} cm</b>.

          {% elif info['CAA']==4 %}
            Como a classe escolhida foi a Classe &#8544. Logo, <b>c = {{info['c']}} cm</b>.

          {% endif %}
        </p>
        <p class="text-justify">
          {% if 'parametrod_' not in info %}
            Sem o conhecimento do diâmetro da armadura transversal e da longitudianal,
            inicialmente adota-se um diâmetro de 5.0 mm para o estribo e 10.0 mm para
            as barras longitudinais para o calculo do valor da altura útil <em>'d'</em> entre a
            borda mais tracionada da seção e o centro de gravidade da armadura longitudianal.
            Considerando-se apenas uma camada para a armadura de flexão temos:
            <b>d</b> = h - (c + Ø<sub>t</sub> + (Ø<sub>l</sub>/2))={{info['h']}} - {{info['d1']}} =
            <b>{{info['d']}} cm</b>.
          {% else %}
            O parametro d' que representa a distância entre a borda mais tracionada e o centro
            de gravidade da armadura tracionada foi determinado manualmente d' = {{info['d_']}} cm.
            Portanto altura útil entre a borda mais tracionada da seção e o centro de gravidade
            da armadura longitudianal: <b>d</b> = h - d' = {{info['h']}} - {{info['d1']}} = <b>{{info['d']}} cm</b>.
          {% endif %}
        </p>

        <p class="text-justify">Pela lei de Hooke: &#400<sub>yd</sub>=
          &#402<sub>yd</sub>/E<sub>s</sub>. Dado o tipo de aço escolhido
          CA-{{(info['fyk']/10)|round|int}}, temos que <b>&#400<sub>yd</sub>=
          {{info['eyd']*1000|round(2,'common')}} &#137</b>.</p>
          <p></p>

        <h6 class="text-center">Algumas considerações a respeito do concreto</h6>

        <p class="text-justify">A distribuição de tensões no concreto é feita de acordo
          com o diagrama parábola-retângulo, definido no item 8.2.10.1 da NBR 6118, com
          tensão de pico igual a &#593<sub>c</sub>&#402<sub>cd</sub>. Esse diagrama pode
          ser substituído pelo retângulo de profundidade y = λx, onde o valor do
          parâmetro λ bem como &#593<sub>c</sub> são determinados a partir da
          resistência caractéristica do concreto.
        </p>
          <p></p>

        {% if info['fck']<=50 %} <!-- fck <= 50 -->
          <p class="text-justify">
            O &#402<sub>ck</sub> = {{info['fck']}} MPa se enquadra na classe de resistência do
            grupos &#8544. Portanto,
          </p>

          <p class="text-center">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">deformação específica máxima do concreto:
                <b>&#400<sub>u</sub> = 3.50 &#137</b>;</li>
              <li class="list-group-item">parâmetro de redução da resistência do concreto
                na compressão: <b>&#593<sub>c</sub> = 0.85</b>;</li>
              <li class="list-group-item">parâmetro de uniformização do esforço de compressão:
                <b>λ = 0.80</b>;</li>
              <li class="list-group-item">critério de ductilidade:
                n<sub>lim</sub> = {{info['nlim']}} <strong>&#10230;</strong> <b>x<sub>lim</sub></b> =
                n<sub>lim</sub>&#x22C5;d = <b>{{info['xlim']|round(2,'common')}} cm</b>.</li>
            </ul>
          </p>

          <h6 class="text-center">Domínio de deformação</h6>
          <p class="text-justify">O valor x<sub>2lim</sub> delimita os domínos 2 e 3,
            e para os concretos do Grupo &#8544; de resistência (f<sub>ck</sub> ⋜ 50 MPa)
            é fixo e igual a {{(info['eu']/(info['eu']+0.01))|round(3, 'common')}}&#x22C5;d,
            pois a deformação máxima do concreto para esse grupo é fixo em 3.50 &#137.</p>

          <p class="text-justify"><b>x<sub>2lim</sub></b> = {{(info['eu']/(info['eu']+0.01))|
            round(3, 'common')}}&#x22C5;{{info['d']}} = <b>{{info['x2lim']|round(2, 'common')}} cm</b>.</p>

          <p class="text-justify">O valor x<sub>3lim</sub> delimita os domínos 3 e 4,
            e para os concretos do Grupo &#8544; e aço CA-{{(info['fyk']/10)|round|int}}
            é fixo e igual a {{(info['eu']/(info['eu']+info['eyd']))|round(3, 'common')}}&#x22C5;d.
          </p>

          <p class="text-justify"><b>x<sub>3lim</sub></b> = {{(info['eu']/(info['eu']+info['eyd']))|
            round(3, 'common')}}&#x22C5;{{info['d']}} = <b>{{info['x3lim']|round(2, 'common')}} cm</b>.</p>

        {% else %}

          <p class="text-justify">
            O &#402<sub>ck</sub> = {{info['fck']}} MPa se enquadra na classe de resistência do
            grupos &#8545. Portanto,
          </p>

          <p class="text-center">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">deformação específica máxima do concreto:
                <b>&#400<sub>u</sub></b> = 2.60 &#137 + 35 &#137(90-&#402<sub>ck</sub>/100)<sup>4</sup> =
                  <b>{{(info['eu']*1000)|round(2 ,'common')}} &#137;</b></li>
              <li class="list-group-item">parâmetro de redução da resistência do concreto na
                compressão: <b>&#593<sub>c</sub></b> = 0.85[1 - ((&#402<sub>ck</sub> - 50)/200)]=
                <b>{{info['ac']|round(3,'common')}}</b>;</li>
              <li class="list-group-item">parâmetro de uniformização do esforço de compressão:
                <b>λ</b> = 0,80 - [(&#402<sub>ck</sub> - 50)/400] = <b>{{info['y']|round(2,'common')}}</b>;</li>
              <li class="list-group-item">critério de ductilidade:
                n<sub>lim</sub> = {{info['nlim']}} <strong>&#10230;</strong> <b>x<sub>lim</sub></b> =
                n<sub>lim</sub>&#x22C5;d = <b>{{info['xlim']|round(2,'common')}} cm</b>.</li>
            </ul>
          </p>

          <h6 class="text-center">Domínio de deformação</h6>
          <p class="text-justify">O valor x<sub>2lim</sub> delimita os domínos 2 e 3,
            e para os concretos do Grupo &#8545; de resistência (f<sub>ck</sub> > 50 MPa)
            depende da deformação especifica máxima do concreto
            {{(info['eu']/(info['eu']+0.01))|round(3, 'common')}}&#x22C5;d</p>

          <p class="text-justify"><b>x<sub>2lim</sub></b> = {{(info['eu']/(info['eu']+0.01))|
            round(3, 'common')}}&#x22C5;{{info['d']}} = <b>{{info['x2lim']|round(2, 'common')}} cm</b>.</p>

          <p class="text-justify">O valor x<sub>3lim</sub> delimita os domínos 3 e 4,
            e para os concretos do Grupo &#8544; e aço CA-{{(info['fyk']/10)|round|int}}
            é fixo e igual a {{(info['eu']/(info['eu']+info['eyd']))|round(3, 'common')}}&#x22C5;d.
          </p>

          <p class="text-justify"><b>x<sub>3lim</sub></b> = {{(info['eu']/(info['eu']+info['eyd']))|
            round(3, 'common')}}&#x22C5;{{info['d']}} = <b>{{info['x3lim']|round(2, 'common')}} cm</b>.</p>

        {% endif %}

        {% if info['Msd'] <= info['Msdlim'] %}
          <p>A viga passa também no critério de ductilidade pois {{info['nlim']}}&#x22C5;d =
            {{info['nlim']}}&#x22C5;{{info['d']}} = {{info['xlim']|round(2,'common')}} cm > <strong>x =
            {{info['x']|round(2, 'common')}} cm.</strong></p>

          {% elif info['cal'] == 1 %}
            <p>A viga não passa no critério de ductilidade pois {{info['nlim']}}&#x22C5;d =
              {{info['nlim']}}&#x22C5;{{info['d']}} = {{info['xlim']|round(2,'common')}} cm < x</p>

            <p></p>
            <p>Portanto para os proximos calculos <strong>x = {{info['x']|round(2, 'common')}} cm.</strong></p>

        {% endif %}

        {% if info['x2lim'] > info['x']  %}
          <p><strong>Domínio 2: </strong>x<sub>2lim</sub> = {{info['x2lim']|round(2,'common')}} cm >
            {{info['x']|round(2,'common')}} cm = x.</p>

        {% elif info['x'] >= info['x2lim'] and info['x'] <= info['x3lim'] %}
          <p><strong>Domínio 3: </strong>x<sub>2lim</sub> = {{info['x2lim']|round(2,'common')}} cm ⋜
            {{info['x']|round(2,'common')}} cm = x ⋜ {{info['x3lim']|round(2,'common')}} cm = x<sub>3lim</sub>.</p>

        {% endif %}

        {% if info['Msdlim'] >= info['Msd'] %}
          <h6 class="text-center">Área de aço</h6>
          <p class="text-justify">M<sub>sdlim</sub> = {{info['Msdlim']|round(2,'common')}} kN&#x22C5;m
            ⋝ {{info['Msd']|round(2,'common')}} kN&#x22C5;m = M<sub>sd</sub>, ou seja, <strong>Armadura
            Simples</strong>, o que significa que apenas a armadura de tração será calculada, a
            armadura disposta na zona de compressão servirá apenas para garantira a posição da armadura transversal
            durante a execução (porta estribo ou armadura de montagem), adotado-se 2 barras de 8.0 mm de diâmetro (2Ø8mm).
          </p>

          <p><b>A<sub>s</sub></b> = M<sub>sd</sub>/(&#402<sub>yd</sub>&#x22C5;(d - 0.4&#x22C5;x)) =
          {{info['Msd']|round(1,'common')}}/({{info['fyd']|round(3,'common')}}&#x22C5;
          ({{info['d']|round(2,'common')}} - 0.4&#x22C5;{{info['x']|round(2,'common')}})) =
          <strong>{{info['As']|round(2,'common')}} cm².</strong></p>

          <p class="text-justify">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Área da armadura tracionada:
                <strong>A<sub>s</sub> = {{(info['As'])|round(2 ,'common')}} cm²</strong></li>
              <li class="list-group-item">Área da armadura de montagem:
                <strong>A<sub>s</sub>' = {{info['Ass']|round(2,'common')}} cm²</strong></li>
            </ul>
          </p>


        {% else %}
          <h6 class="text-center">Área de aço</h6>
          <p class="text-justify">M<sub>sd</sub> = {{info['Msd']|round(1,'common')}} kN&#x22C5;cm >
            {{info['Msdlim']|round(1,'common')}} kN&#x22C5;cm = M<sub>sdlim</sub>,
            ou seja, <strong>Armadura Dupla</strong>. M<sub>d1</sub> = M<sub>sdlim</sub>
            <strong>&#10230;</strong> M<sub>d2</sub> =  M<sub>sd</sub> - M<sub>d1</sub> =
            {{info['Msd']|round(1,'common')}} - {{info['Md1']|round(1,'common')}} =
            {{info['Md2']|round(1,'common')}} kN&#x22C5;m.
          </p>

          <p><b>A<sub>s1</sub></b> = M<sub>d1</sub>/(&#402<sub>yd</sub>&#x22C5;(d - 0.4&#x22C5;x)) =
          {{info['Md1']|round(1,'common')}}/({{info['fyd']|round(3,'common')}}&#x22C5;
          ({{info['d']|round(2,'common')}} - 0.4&#x22C5;{{info['x']|round(2,'common')}})) =
          <b>{{info['As1']|round(2,'common')}} cm²</b>.</p>
          <p><b>A<sub>s2</sub></b> = M<sub>sd</sub>/(&#402<sub>yd</sub>&#x22C5;(d - d<sub>2</sub>)) =
          {{info['Md2']|round(1,'common')}}/({{info['fyd']|round(3,'common')}}&#x22C5;
          ({{info['d']|round(2,'common')}} - {{info['d2']|round(2,'common')}})) =
          <b>{{info['As2']|round(2,'common')}} cm²</b>.</p>

          <p>Se a deformação específica da armadura comprimida (&#400<sub>s</sub>)
            for maior ou igual que a deformação específica de escoamento, então
            A<sub>ss</sub> = A<sub>s2</sub>. Senão a tensão na armadura é proporcional
            a deformação (Lei de Hooke).</p>

          <p><b>&#400<sub>s</sub></b> = (({{info['xlim']|round(2,'common')}} -
            {{info['d2']|round(2,'common')}})&#x22C5;{{info['eu']*1000|round(2,'common')}} &#137;)/
            {{info['xlim']|round(2,'common')}} = <b>{{(info['es']*1000)|round(2,'common')}} &#137;</b>.</p>

          {% if info['es'] > info['eyd'] %}
            <p><b>&#400<sub>s</sub> = {{(info['es']*1000)|round(2,'common')}} &#137;</b> >
              {{(info['eyd']*1000)|round(2,'common')}} &#137; = &#400<sub>yd</sub>.</p>

          {% elif info['es'] == info['eyd'] %}
            <p><b>&#400<sub>s</sub> = {{(info['es']*1000)|round(2,'common')}} &#137;</b> =
              &#400<sub>yd</sub>.</p>

          {% else %}
            <p><b>&#400<sub>s</sub> = {{(info['es']*1000)|round(2,'common')}} &#137;</b> <
              {{(info['eyd']*1000)|round(2,'common')}} &#137; = &#400<sub>yd</sub>.
              Então σ<sub>sd</sub> = &#400<sub>s</sub>&#x22C5;E<sub>s</sub> =
              {{info['Dsd']|round(3, 'common')}} kN/cm².</p>

          {% endif %}

          <p class="text-justify">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Área da armadura tracionada:
                <b>A<sub>s</sub></b> = A<sub>s1</sub> + A<sub>s2</sub> = {{info['As1']|round(2,'common')}} +
                {{info['As2']|round(2,'common')}} = <strong>{{(info['As'])|round(2 ,'common')}} cm²</strong></li>
              <li class="list-group-item">Área da armadura comprimida:
                <b>A<sub>s</sub>' = {{info['Ass']|round(2,'common')}} cm²</b></li>
            </ul>
          </p>

        {% endif %}

      </div>

        <div class="col-lg-6">
          <h5 class="text-center">Dimensionamento ao Cisalhamento</h5>
          {% if info['Modelo'] == 2 %}
            <p class="text-justify">A NBR 6118 admite que o ângulo de inclinação
              das diagonais de compressão (&#629;) varie livrimente entre 30&#778;
              e 45&#778; e que a parcela V<sub>c</sub> sofra redução com aumento
              de Vsd.</p>

          {% else %}
            <p class="text-justify">A treliça clássica de Ritter-Mörsch é admitida
              como forma de distribuição dos esforços dentro do concreto. O ângulo
              de inclinação das bielas comprimidas é fixo em 45&#778;.</p>

          {% endif %}

          <ul class="list-group list-group-flush">
            <li class="list-group-item">Concreto:
              <b>&#402<sub>ctd</sub></b> = 0.7 &#x22C5; &#402<sub>ctm</sub>/&#611<sub>f</sub> =
              0.7 &#x22C5; 0.3 &#x22C5; (&#402<sub>ck</sub>)<sup>2/3</sup>/&#611<sub>f</sub> =
              <b>{{(info['fctd']*10)|round(3,'common')}} MPa</b>.</li>
            <li class="list-group-item">Concreto:
              <b>&#402<sub>ctd2</sub></b> = 0.6 &#x22C5; &#593;<sub>v</sub> &#x22C5; &#402<sub>cd</sub> =
              0.6 &#x22C5; (1 - &#402<sub>ck</sub>/250) &#x22C5; &#402<sub>cd</sub> =
              0.6 &#x22C5; (1 - {{(info['fck'])|round(3,'common')}}/250) &#x22C5;
              {{(info['fcd']*10)|round(3,'common')}} = {{(info['fcd2']*10)|round(3,'common')}} MPa
              = <b>{{(info['fcd2'])|round(3,'common')}} kN/cm²</b>.
            </li>
            <li class="list-group-item">Aço:
              <b>&#402<sub>ywd</sub></b> = &#402<sub>ywk</sub>/&#611<sub>s</sub> =
              {{info['fywk']}}/{{info['gc']}} = {{(info['fywd']*10)|round(3,'common')}} MPa.</li>
            <li class="list-group-item">Carregamento:
              <b>V<sub>sd</sub></b> = V<sub>k</sub> &#x22C5; &#611<sub>f</sub> =
              {{info['Vk']}} &#x22C5; {{info['gf']}} = <b>{{(info['Vsd'])|round(3,'common')}} MPa</b>.
            </li>
          </ul>

          <h6 class="text-center">Verificação da compressão nas bielas</h6>
          <p class="text-justify">Para não ocorrer o esmagamento do concreto que compõe as bielas
            comprimidas (diagonais inclinadas na treliça clássica) deve-se ter:
            <strong>V<sub>sd</sub> &#8924; V<sub>rd2</sub></strong>. Onde V<sub>rd2</sub> é a
            resistência de cálculo, relativa a ruína das diagonais comprimidas de
            concreto.
          </p>

          {% if info['Modelo'] == 1 %}
            <p class="text-justify"><b>V<sub>rd2</sub></b> = [&#402<sub>ctd2</sub>&#x22C5;b<sub>w</sub>&#x22C5;
            0.9&#x22C5;d&#x22C5;(1 + cotan(&#593;))]/2 = {{info['fcd2']|round(3,'common')}}
            &#x22C5; {{info['bw']}}&#x22C5;0.9&#x22C5;{{info['d']}}&#x22C5;(1 +
            cotan({{info['a']}}))/2 = <b>{{info['Vrd2']|round(3,'common')}} kN</b>.</p>
            <p class="text-center"><strong>{{info['Vsd']}} kN &#8924; {{info['Vrd2']|round(1,'common')}} kN.</strong></p>
            <p></p>
          {% else %}
            <p class="text-justify"><b>V<sub>rd2</sub></b> = &#402<sub>ctd2</sub> &#x22C5; b<sub>w</sub> &#x22C5;
            0.9 &#x22C5; d &#x22C5; (cotan(&#415;) + cotan(&#593;)) &#x22C5; sen²&#415; =
            {{info['fcd2']|round(3,'common')}} &#x22C5; {{info['bw']}} &#x22C5; 0.9 &#x22C5;
            {{info['d']}} &#x22C5; (cotan({{info['t']}}) + cotan({{info['a']}})) &#x22C5;
            sen²({{info['t']}}) = <b>{{info['Vrd2']|round(3,'common')}} kN</b>.</p>
            <p class="text-center"><strong>{{info['Vsd']}} kN &#8924; {{info['Vrd2']|round(1,'common')}} kN.</strong></p>
            <p></p>
          {% endif %}

          <h6 class="text-center">Cálculo da armadura transversal</h6>
          <p class="text-justify">V<sub>sd</sub> = V<sub>c</sub> + V<sub>sw</sub>. Onde,</p>
          <p>V<sub>c</sub>: parcela da força cortante absorvida por mecanismos
            complementares ao da treliça.</p>
            <p class="font-italic"><strong>Mecanismos:</strong></p>
            <ul class="list-unstyled">
              <li>
                <ul>
                  <li>Concreto não fissurado da porção comprimida;</li>
                  <li>Engrenamento entre os agregados;</li>
                  <li>Efeito de pino da armadura tracionada.</li>
                </ul>
              </li>
            </ul>
          <p class="text-justify">V<sub>sw</sub>: parcela da força cortante
            solicitante resistida pela armadura transversal.</p>

          {% if info['Modelo'] == 1 %}
            <p class="text-justify"><b>V<sub>c</sub></b> = V<sub>c0</sub> = 0.6 &#x22C5;
              &#402<sub>ctd</sub> &#x22C5; b<sub>w</sub> &#x22C5; d = 0.6 &#x22C5;
              {{info['fctd']|round(3, 'common')}} &#x22C5; {{info['bw']}} &#x22C5;
              {{info['d']}} = <b>{{info['Vc']|round(3,'common')}} kN</b>.
            </p>
            <p class="text-justify">Sendo: <b>V<sub>sw</sub></b> = V<sub>sd</sub> -
              V<sub>c</sub> = <b>{{info['Vsw']|round(2,'common')}} kN</b>.
            </p>
            <p class="text-justify"><b>A<sub>sw</sub>/S</b> = V<sub>sw</sub>/(0.9 &#x22C5;
              d &#x22C5; &#402<sub>ywd</sub> &#x22C5;(sen(&#593;) + cos(&#593;))) =
              {{info['Vsw']|round(3,'common')}}/(0.9 &#x22C5; {{info['d']}} &#x22C5;
              {{info['fywd']|round(3,'common')}} &#x22C5; (sen({{info['a']}}) +
              cos({{info['a']}}))) = <b>{{info['Asw']|round(2,'common')}} cm²/cm</b>.
            </p>

          {% else %}
          <p>Para o modelo &#8545 de cálculo:</p>
            {% if info['Vsd'] <= info['Vc0']%}
              <p class="text-justify">V<sub>c</sub> = V<sub>c1</sub>, sendo:
                V<sub>c1</sub> = V<sub>c0</sub> <strong>&#10230;</strong> para
                V<sub>sd</sub> &#8924; V<sub>c0</sub>

              </p>
              <p class="text-justify">Sendo: <b>V<sub>sw</sub></b> = V<sub>sd</sub> -
                V<sub>c</sub> = {{info['Vsd']|round(2,'common')}} - {{info['Vc']
                |round(2,'common')}} = <b>{{info['Vsw']|round(2,'common')}} kN</b>.
              </p>

              <p class="text-justify"><b>A<sub>sw</sub>/S</b> = V<sub>sw</sub>/(0.9 &#x22C5;
                d &#x22C5; &#402<sub>ywd</sub> &#x22C5;(sen(&#593;) + cos(&#593;))) =
                {{info['Vsw']|round(3,'common')}}/(0.9 &#x22C5; {{info['d']}} &#x22C5;
                {{info['fywd']|round(3,'common')}} &#x22C5; (sen({{info['a']}}) +
                cos({{info['a']}}))) = <b>{{info['Asw']|round(2,'common')}} cm²/cm</b>.
              </p>
            {% elif info['Vsd'] == info['Vrd2']%}
              <p class="text-justify">V<sub>c</sub> = V<sub>c1</sub>, sendo:
                V<sub>c1</sub> = 0 <strong>&#10230;</strong> para
                V<sub>rd2</sub> = V<sub>sd</sub>
              </p>
              <p class="text-justify">Sendo: <b>V<sub>sw</sub></b> = V<sub>sd</sub> -
                V<sub>c</sub> = {{info['Vsd']|round(2,'common')}} - {{info['Vc']
                |round(2,'common')}} = <b>{{info['Vsw']|round(2,'common')}} kN</b>.
              </p>

              <p class="text-justify"><b>A<sub>sw</sub>/S</b> = V<sub>sw</sub>/(0.9 &#x22C5;
                d &#x22C5; &#402<sub>ywd</sub> &#x22C5;(sen(&#593;) + cos(&#593;))) =
                {{info['Vsw']|round(3,'common')}}/(0.9 &#x22C5; {{info['d']}} &#x22C5;
                {{info['fywd']|round(3,'common')}} &#x22C5; (sen({{info['a']}}) +
                cos({{info['a']}}))) = <b>{{info['Asw']|round(4,'common')}} cm²/cm</b>.
              </p>
            {% elif info['Vsd'] > info['Vc0']%}
              <p class="text-justify">V<sub>c</sub> = V<sub>c1</sub>, sendo:
                V<sub>c1</sub> = V<sub>c0</sub> &#x22C5; (V<sub>rd2</sub> -
                V<sub>sd</sub>)/(V<sub>rd2</sub> - V<sub>c0</sub>)
                <strong>&#10230;</strong> para V<sub>sd</sub> > V<sub>c0</sub>
                <strong>&#10230;</strong>
                <b>V<sub>c0</sub></b> = 0.6&#x22C5;&#402<sub>ctd</sub>&#x22C5;b<sub>w</sub>&#x22C5;d =
                0.6 &#x22C5; {{info['fctd']|round(3, 'common')}} &#x22C5; {{info['bw']}} &#x22C5;
                  {{info['d']}} = <b>{{info['Vc0']|round(2,'common')}} kN</b> <
                  {{info['Vsd']|round(2,'common')}} kN.
              </p>
              <p><b>V<sub>c1</sub></b> = {{info['Vc0']|round(2,'common')}}&#x22C5;
                ({{info['Vrd2']|round(2,'common')}} - {{info['Vsd']|round(2,'common')}})
                /({{info['Vrd2']|round(2,'common')}} - {{info['Vc0']|round(2,'common')}})
                = <b>{{info['Vc1']|round(2,'common')}} kN</b>.</p>

              <p class="text-justify">Sendo: <b>V<sub>sw</sub></b> = V<sub>sd</sub> -
                V<sub>c</sub> = {{info['Vsd']|round(2,'common')}} - {{info['Vc']
                |round(2,'common')}} = <b>{{info['Vsw']|round(2,'common')}} kN</b>.
              </p>

              <p class="text-justify"><b>A<sub>sw</sub>/S</b> = V<sub>sw</sub>/(0.9 &#x22C5;
                d &#x22C5; &#402<sub>ywd</sub> &#x22C5;(sen(&#593;) + cos(&#593;))) =
                {{info['Vsw']|round(3,'common')}}/(0.9 &#x22C5; {{info['d']}} &#x22C5;
                {{info['fywd']|round(3,'common')}} &#x22C5; (sen({{info['a']}}) +
                cos({{info['a']}}))) = <b>{{info['Asw']|round(4,'common')}} cm²/cm</b>.

              </p>

            {% endif %}
          {% endif %}







            <!--  -->
          <form method="post">
            <div class="row marketing">
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">&Oslash<sub>l</sub></span>
                  </div>
                    <select name="ol" class="custom-select" id="inputGroupSelect01">
                      <option selected>Diâmetro da Armadura Tração</option>
                      <option value="5.0">5.0</option>
                      <option value="6.3">6.3</option>
                      <option value="8.0">8.0</option>
                      <option value="10.0">10.0</option>
                      <option value="12.5">12.5</option>
                      <option value="16.0">16.0</option>
                      <option value="20.0">20.0</option>
                      <option value="22.0">22.0</option>
                      <option value="25.0">25.0</option>
                      <option value="32.0">32.0</option>
                      <option value="40.0">40.0</option>
                    </select>
                <div class="input-group-append">
                  <span class="input-group-text">mm</span>
                </div>
              </div>
            </div><p></p>


            <div class="row marketing">

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">&Oslash<sub>t</sub></span>
                </div>
                <select name="ot" class="custom-select" id="inputGroupSelect01">
                  <option selected>Diâmetro da Armadura Transversal</option>
                  <option value="5.0">4.2</option>
                  <option value="5.0">5.0</option>
                  <option value="6.3">6.3</option>
                  <option value="8.0">8.0</option>
                  <option value="10.0">10.0</option>
                  <option value="12.5">12.5</option>
                </select>
                <div class="input-group-append">
                  <span class="input-group-text">mm</span>
                </div>
              </div>
            </div><p></p>


            {% if info['Msdlim'] < info['Msd'] %}
              <div class="row marketing">

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">&Oslash<sub>l</sub>'</span>
                  </div>
                  <select name="ols" class="custom-select" id="inputGroupSelect01">
                    <option selected>Diâmetro da Armadura Compressão</option>
                    <option value="5.0">5.0</option>
                    <option value="6.3">6.3</option>
                    <option value="8.0">8.0</option>
                    <option value="10.0">10.0</option>
                    <option value="12.5">12.5</option>
                    <option value="16.0">16.0</option>
                    <option value="20.0">20.0</option>
                    <option value="22.0">22.0</option>
                    <option value="25.0">25.0</option>
                    <option value="32.0">32.0</option>
                    <option value="40.0">40.0</option>
                  </select>
                  <div class="input-group-append">
                    <span class="input-group-text">mm</span>
                  </div>
                </div>
              </div><p></p>
            {% endif %}

            {% if info['h'] > 60 %}
              <h6 class="text-center">Armadura de Pele</h6>
              <p>A<sub>sp,face</sub> = 0.10 % &#x22C5; b<sub>w</sub>&#x22C5;h =  0.10 % &#x22C5;
              {{info['bw']|round(2,'common')}}&#x22C5;{{info['h']|round(2,'common')}} =
              <strong>{{info['Asp_face']|round(2,'common')}} cm²/face.</strong></p>

              <div class="row marketing">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">&Oslash<sub>p</sub></span>
                    </div>
                    <select name="op" class="custom-select" id="inputGroupSelect01">
                      <option selected>Diâmetro da Armadura de Pele</option>
                      <option value="5.0">5.0</option>
                      <option value="6.3">6.3</option>
                      <option value="8.0">8.0</option>
                      <option value="10.0">10.0</option>
                      <option value="12.5">12.5</option>
                      <option value="16.0">16.0</option>
                      <option value="20.0">20.0</option>
                      <option value="22.0">22.0</option>
                      <option value="25.0">25.0</option>
                      <option value="32.0">32.0</option>
                      <option value="40.0">40.0</option>
                    </select>

                  <div class="input-group-append">
                    <span class="input-group-text">mm</span>
                  </div>
                </div>
              </div><p></p>

            {% endif %}

            <div class="row marketing">
              <label for="basic-url">Ancoragem da armadura tracionada</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Tipo gancho</span>
                </div>
                <select name="ganchol" class="custom-select" id="inputGroupSelect01">
                  <option value="1">Semicirculares</option>
                  <option value="2">Em ângulo de 45°</option>
                  <option value="3">Em ângulo reto</option>
                </select>
                <div class="input-group-append">
                  <span class="input-group-text">mm</span>
                </div>
              </div>
            </div><p></p>




            <div class="row justify-content-center mb-5">
              <input type="submit" class="btn btn-template" value="Escolher"></input>
            </div>


            {% if 'ol' in info %}  <!-- DETALHAMENTO DA SEÇÃO TRANSVERSAL -->
              <h5 class="text-center">Detalhamento</h5><p></p>

              <h6 class="text-center">Armadura comprimida</h6>
              {% if info['Msdlim'] >= info['Msd'] %}
                <dl class="row">
                  <dt class="col-sm-4">n<sub>b</sub>' = {{info['nbs']}}.</dt>
                  <dd class="col-sm-8">Número de barras necessárias.</dd>

                  <dt class="col-sm-4">A = {{info['Abs']|round(3,'common')}} cm²</dt>
                  <dd class="col-sm-8">Área de uma barra no diâmetro escolhido.</dd>

                  <dt class="col-sm-4">A<sub>ef</sub> = n<sub>bs</sub>
                    &#x22C5;A = {{info['Aefs']}} cm²</dt>
                  <dd class="col-sm-8">Área efetiva de aço.</dd>

                  <dt class="col-sm-4">a<sub>h</sub>' = {{info['ahos']}} cm</dt>
                  <dd class="col-sm-8">Espaço minimo entre barras para garantir o
                    envolvimento das mesmas pelo concreto. Maior falor entre 2 cm,
                    &Oslash<sub>l</sub>' cm e 1.2&#x22C5;D<sub>max</sub> cm.</dd>

                  <dt class="col-sm-4">C = {{info['comp_ols']}} cm</dt>
                  <dd class="col-sm-8">Comprimento do vão livre + ancoragem.</dd>

                </dl>
              {% else %}
                <dl class="row">
                  <dt class="col-sm-4">A<sub>s</sub>' =
                    {{info['Ass']|round(3,'common')}} cm²</dt>
                  <dd class="col-sm-8">Área de aço necessária.</dd><p></p>

                  <dt class="col-sm-4">A = {{info['Abs']|round(3,'common')}} cm²</dt>
                  <dd class="col-sm-8">Área de uma barra no diâmetro escolhido.</dd>

                  <dt class="col-sm-4">n<sub>b</sub>' = A<sub>s</sub>'/A =
                    {{info['nbs']}}.</dt>
                  <dd class="col-sm-8">Número de barras necessárias.</dd>

                  <dt class="col-sm-4">A<sub>ef</sub> = n<sub>bs</sub>
                    &#x22C5;A = {{info['Aefs']}} cm²</dt>
                  <dd class="col-sm-8">Área efetiva de aço.</dd>

                  {% if info['ncs'] > 1 %}

                    <dt class="col-sm-4">n<sub>bmax</sub>' = {{info['nbmaxs']}} cm</dt>
                    <dd class="col-sm-8">Número máximo de barras por camada.</dd>

                    <dt class="col-sm-4">a<sub>v</sub>' = {{info['aves']}} cm</dt>
                    <dd class="col-sm-8">Espaço minimo vertical entre barras de diferentes
                      camadas para garantir o envolvimento das mesmas pelo concreto.
                      Maior falor entre 2 cm,
                      &Oslash<sub>l</sub>' cm e 0.5&#x22C5;D<sub>max</sub> cm.</dd>

                    <dt class="col-sm-4">n<sub>c</sub>' = {{info['ncs']}} cm</dt>
                    <dd class="col-sm-8">Número de camadas necessárias.</dd>
                  {% endif %}

                  <dt class="col-sm-4">C = {{info['comp_ols']}} cm</dt>
                  <dd class="col-sm-8">Comprimento do vão livre + ancoragem.</dd>

                </dl>

              {% endif %}


              <h6 class="text-center">Armadura tracionada</h6>

                <dl class="row">
                  <dt class="col-sm-4">A<sub>s</sub> =
                    {{info['As']|round(3,'common')}} cm²</dt>
                  <dd class="col-sm-8">Área de aço necessária.</dd><p></p>

                  <dt class="col-sm-4">A = {{info['Ab']|round(3,'common')}} cm²</dt>
                  <dd class="col-sm-8">Área de uma barra no diâmetro escolhido.</dd>

                  <dt class="col-sm-4">n<sub>b</sub> = {{info['nb']}}</dt>
                  <dd class="col-sm-8">Número de barras necessárias.</dd>

                  <dt class="col-sm-4">A = {{info['Ab']|round(3,'common')}} cm²</dt>
                  <dd class="col-sm-8">Área de uma barra no diâmetro escolhido.</dd>

                  <dt class="col-sm-4">A<sub>ef</sub> = n<sub>b</sub>
                    &#x22C5;A = {{info['Aef']}} cm²</dt>
                  <dd class="col-sm-8">Área efetiva de aço.</dd>

                  <dt class="col-sm-4">a<sub>h</sub> = {{info['aho']}} cm</dt>
                  <dd class="col-sm-8">Espaço minimo entre barras para garantir o
                    envolvimento das mesmas pelo concreto. Maior falor entre 2 cm,
                    &Oslash<sub>l</sub>' cm e 1.2&#x22C5;D<sub>max</sub> cm.</dd>

                  <dt class="col-sm-4">C = {{info['comp_ol']|round(2,'common')}} cm</dt>
                  <dd class="col-sm-8">Comprimento do vão livre + ancoragem.</dd>

                </dl>

                {% if info['lb1disp'] < info['lblnec'] and info['lb2disp'] < info['lblnec'] %}
                  <div class="alert alert-dark rounded-pill" role="alert">
                  A dimenção do apoio deve ser <a href="novoprojeto" class="alert-link">
                    alterada </a>para que seja possível a ancoragem da armadura tracionada.
                </div>

                {% endif %}

                <dl class="row">

                  {% if info['nc'] > 1 %}
                    <dt class="col-sm-4">n<sub>bmax</sub> = {{info['nbmax']}}</dt>
                    <dd class="col-sm-8">Número máximo de barras por camada.</dd>

                    <dt class="col-sm-4">a<sub>v</sub> = {{info['ave']}} cm</dt>
                    <dd class="col-sm-8">Espaço minimo vertical entre barras de diferentes
                      camadas para garantir o envolvimento das mesmas pelo concreto.
                      Maior falor entre 2 cm,
                      &Oslash<sub>l</sub>' cm e 0.5&#x22C5;D<sub>max</sub> cm.</dd>

                    <dt class="col-sm-4">n<sub>c</sub> = {{info['nc']}}</dt>
                    <dd class="col-sm-8">Número de camadas necessárias.</dd>

                  {% endif %}

                </dl>

                <h6 class="text-center">Armadura transversal</h6>

                  <dl class="row">
                    <dt class="col-sm-4">S<sub>max</sub> =
                      {{info['Smax']|round(3,'common')}} cm</dt>
                    <dd class="col-sm-8">Espaçamento máximo entre estribos.</dd><p></p>

                    <dt class="col-sm-4">S<sub>tmax</sub> =
                      {{info['Stmax']|round(3,'common')}} cm</dt>
                    <dd class="col-sm-8">É o espaçamento máximo entre ramos.</dd>

                    <dt class="col-sm-4">r<sub>a</sub> = {{info['ra']}}.</dt>
                    <dd class="col-sm-8">Número de ramos.</dd>

                    <dt class="col-sm-4">A = {{info['Abw']|round(3,'common')}} cm²</dt>
                    <dd class="col-sm-8">Área dos {{info['ra']}} ramos de um estribo.</dd>

                    <dt class="col-sm-4">S = A/A<sub>sw</sub>
                      {{info['S']|round(1,'common')}} cm</dt>
                    <dd class="col-sm-8">Espaçamento real entre os estribos.</dd>

                    <dt class="col-sm-4">n<sub>e</sub> = (l<sub>0</sub> +
                      t<sub>1</sub> + t<sub>2</sub>)/S = {{info['ne']}} cm</dt>
                    <dd class="col-sm-8">Número total de estribos.</dd>

                    <dt class="col-sm-4">C = b<sub>w</sub> + (h&#x22C5;r<sub>a</sub>)
                      - (4&#x22C5;c) + 14 = {{info['comp_ot']}} cm</dt>
                    <dd class="col-sm-8">Comprimento do estribo + ancoragem.</dd>

                  </dl>

                  <dl class="row">

                    {% if info['nc'] > 1 %}
                      <dt class="col-sm-4">n<sub>bmax</sub> = {{info['nbmax']}} cm</dt>
                      <dd class="col-sm-8">Número máximo de barras por camada.</dd>

                      <dt class="col-sm-4">a<sub>v</sub> = {{info['ave']}} cm</dt>
                      <dd class="col-sm-8">Espaço minimo vertical entre barras de diferentes
                        camadas para garantir o envolvimento das mesmas pelo concreto.
                        Maior falor entre 2 cm,
                        &Oslash<sub>l</sub>' cm e 0.5&#x22C5;D<sub>max</sub> cm.</dd>

                      <dt class="col-sm-4">n<sub>c</sub> = {{info['nc']}} cm</dt>
                      <dd class="col-sm-8">Número de camadas necessárias.</dd>
                    {% endif %}
                  </dl>
            {% endif %}


            <div class="row justify-content-center">
                <canvas class="center" id="myCanvas" width="{{info['bw']*10}}" height="{{info['h']*10}}">
                </canvas>
            </div><p></p>


          {% if 'ol' in info %}
           <h5 class="text-center">Tabela de Aços</h5>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">N</th>
                  <th scope="col">&Oslash (mm)</th>
                  <th scope="col">Quant.</th>
                  <th scope="col">Comp. (cm)</th>
                  <th scope="col">Total (m)</th>
                  <th scope="col">Massa (kg)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>{{info['ol']|round(1,'common')}}</td>
                  <td>{{info['nb']}}</td>
                  <td>{{info['comp_ol']|round(2,'common')}}</td>
                  <td>{{((info['comp_ol']/100)*info['nb'])|round(2,'common')}}</td>
                  <td>{{info['peso_ol']|round(2,'common')}}</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>{{info['ot']|round(1,'common')}}</td>
                  <td>{{info['ne']}}</td>
                  <td>{{info['comp_ot']|round(2,'common')}}</td>
                  <td>{{((info['comp_ot']/100)*info['ne'])|round(2,'common')}}</td>
                  <td>{{info['peso_ot']|round(2,'common')}}</td>
                </tr>
                {% if  info['h'] > 60 %}
                <tr>
                  <th scope="row">3</th>
                  <td>{{info['op']|round(1,'common')}}</td>
                  <td>{{info['nsp_face']*2}}</td>
                  <td>{{info['comp_op']|round(2,'common')}}</td>
                  <td>{{((info['comp_op']/100)*info['nsp_face']*2)|round(2,'common')}}</td>
                  <td>{{info['peso_op']|round(2,'common')}}</td>
                </tr>
                {% endif %}
              </tbody>
            </table><p></p>
            {% endif %}


            <!-- DESENHO DA SEÇÃO TRANSVERSAL  -->
            <script>
            //Dados Gerais
              var bw = {{info['bw']}}*10;
              var h = {{info['h']}}*10;
              var c = {{info['c']}}*10;
              var mk = {{info['Mk']}};
            //Dados da Armadura tracionada
              var aho = {{info['aho']}}*10;
              var ave = {{info['ave']}}*10;
              var ah = {{info['ah']}}*10;
              var nb = {{info['nb']}};
              var nbmax = {{info['nbmax']}};
              var nc = {{info['nc']}};
              var ol = {{info['ol']}};
              var ot = {{info['ot']}};
            //Dados da Armadura compremida
              var ahos = {{info['ahos']}}*10;
              var aves = {{info['aves']}}*10;
              var ahs = {{info['ahs']}}*10;
              var nbs = {{info['nbs']}};
              var nbmaxs = {{info['nbmaxs']}};
              var ncs = {{info['ncs']}};
              var ols = {{info['ols']}};
            //Posição das Armaduras tracionada e Comprimida
              var posy = h-(c+ot+(ol/2));
              var posx = c+ot+(ol/2);
              var posxs = c+ot+(ols/2);
              var posys = c+ot+(ols/2);
              if (mk < 0){ //Se o Momento for (-) Armadura tracionada em cima
                posy = c+ot+(ol/2);
                posys = h - (c+ot+(ols/2));
              }


            //JS-HTML5 Canvas
              var canv = document.getElementById("myCanvas");
              var cnv = canv.getContext("2d");

            //Concreto
              cnv.fillStyle = "#d3d9df";
              cnv.fillRect(0, 0, bw, h);

            //Armadura Transversal
              cnv.beginPath(); ///
              var cord1 = c+(ot/2);
              var cord2 = bw-(c*2)-(ot);
              var cord3 = h-(c*2)-(ot);
              cnv.lineWidth = ot;
              cnv.strokeRect(cord1, cord1, cord2 , cord3);

            //Armadura Tracionada
              var ahult = 0;
              var nbult = 0;
              if (nc*nbmax != nb){
                var k = nc - 1;
                nbult = nb - (k*nbmax);
                if (nbult > 1){
                  ahult = (bw - (nbult*ol + ((c+ot)*2)))/(nbult-1);
                }
              }
              var i = 1;
              var k = 1; //Contador de barras
              var cam = 1; //Contador de camadas
              while (i < nb+1) {
                if (cam == nc){
                  ah = ahult;
                }

            	  cnv.beginPath();
                cnv.arc(posx, posy, ol/2, 0, Math.PI*2);
                cnv.fillStyle = 'black';
                cnv.fill();
                posx = posx + ah + (ol);
                if (k == nbmax) {
                  cam++;
                  k = 0;
                  posx = c+ot+(ol/2);
                  posy = posy - ave - ol;
                }
                k++;
                i++;
              }

              //Armadura Comprimida
              var ahults = 0;
              var nbults = 0;
              if (ncs*nbmaxs != nbs){
                var z = ncs - 1;
                nbults = nbs - (z*nbmaxs);
                if (nbults > 1){
                  ahults = (bw - (nbults*ols + ((c+ot)*2)))/(nbults-1);

                }
              }
              var z = 1;
              var j = 1;
              var cams = 1;
              while (j < nbs+1) {
                if (cams == ncs){
                  ahs = ahults;
                }

                cnv.beginPath();
                cnv.arc(posxs, posys, ols/2, 0, Math.PI*2);
                cnv.fillStyle = 'black';
                cnv.fill();
                posxs = posxs + ahs + (ols);
                if (z == nbmaxs) {
                  cams++;
                  z = 0;
                  posxs = c+ot+(ols/2);
                  posys = posys - aves - ols;
                }
                z++;
                j++;
              }
            </script>
          </form>


        </div>




    </div>
  </div>
{%endblock %}
